<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet">
	<title></title>
</head>
<style>
.boxContainer{
	background-color:#fdfdfd;
	border-radius: 10px;
	padding:20px 16px;
	margin:0px 20px;
	box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
}
.boxContainer2{
	background-color:#fdfdfd;
	border-radius: 10px;
	padding:20px 16px 20px 20px;
	margin:20px 20px;
}
thead th{
	background-color : #6B757F;
	color:#FFFFFF;
}
.blankspace{
	margin-top: 20px;
}
.hide{
    display:none;
}
table{
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout: fixed; // ***********add this
	word-wrap:break-word; // ***********and this
}
</style>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
        <div class="blankspace">
        <img src="/img/icon_building.png" style="max-width:4%; margin-top: -10px; margin-left : 5px;">
        <h2 style="display: inline; margin-left: 10px" th:text="${proyek.nama_proyek}"></h2>
        <hr style="margin-top:-1px"></hr>

        <h5 class="alert alert-success" th:if="${ubahSukses_msg!=null}"
                    th:text="${ubahSukses_msg}"></h5>

	<div class="boxContainer2">
                <div th:if="${user.role=='manager' or user.role=='busdev' or user.role=='admin'}" id="kelola-akun">
        <a th:href="@{'/proyek-ubah/' + ${proyek.id}}" class="btn btn-warning btn-large" style="float: right; margin-right: 5px; margin-bottom: -40px;">Ubah Detail</a>
        </div>
        
	<div class="row" style="padding-right: 20px;padding-left: 20px">
    <div class="col-md-11">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade in active">
                <table class="table table-striped" style="width:100%">
                    <tbody>
                        <tr style="background-color: gray">
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Deskripsi</th>
                            <td th:text="${proyek.deskripsi_proyek}"></td>
                        </tr>
                        <tr>
                            <th>No Kontrak</th>
                            <td th:text="${proyek.nomor_kontrak}"></td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td th:text="${proyek.region}"></td>
                        </tr>
                        <tr style="background-color: white">
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Nama CP</th>
                            <td th:text="${proyek.nama_cp}"></td>
                        </tr>
                        <tr>
                            <th>No Telp CP</th>
                            <td th:text="${proyek.no_telp_cp}"></td>
                        </tr>
                        <tr style="background-color: white">
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Start Date</th>
                            <td th:text="${proyek.start_date_kontrak}"></td>
                        </tr>
                        <tr>
                            <th>End Date</th>
                            <td th:text="${proyek.end_date_kontrak}"></td>
                        </tr>
                        <tr>
                            <th>Nilai Kontrak</th>
                            <td th:text="${proyek.nilai_kontrak}"></td>
                        </tr>
                         <tr style="background-color: white">
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>NPWP</th>
                            <td th:text="${proyek.NPWP_klien}"></td>
                        </tr>
                        <tr>
                            <th>No Rekening</th>
                            <td th:text="${proyek.no_rekening}"></td>
                        </tr>
                        <tr style="background-color: gray">
                            <th></th>
                            <td></td>
                        </tr>
                </table>
            </div>
    <p><a class="btn btn-primary btn-large" th:href="@{'/performa-proyek/'+${proyek.id} }" style="float: left; margin-right: 5px; margin-bottom: 10px;"><i class="fa fa-bar-chart"></i> Performa <br> Kehadiran<br> Pegawai</a><p>
    <div th:if="${user.role=='manager' or user.role=='busdev' or user.role=='admin'}" id="kelola-akun">
    <p><a class="btn btn-info btn-large" th:href="@{'/proyek/'+${proyek.id}+'/kehadiran'}" style="float: left; margin-right: 5px; margin-bottom: 10px;"><i class="fa fa-calendar-check-o"></i> Kelola <br> Kehadiran</a><p>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
</div>

<div class="blankspace">
<div class="boxContainer">
<div th:if="${user.role=='manager' or user.role=='busdev' or user.role=='admin'}" id="kelola-akun">
<a href="#" th:href="@{'/proyek-pegawai/' + ${proyek.id}}" class="btn btn-warning btn-large" style="float: right;">Ubah Regulasi</a>
</div>
<h4>Pegawai Proyek</h4>
<hr></hr>

<p>
<table id="example" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th>NIP</th>
                <th>Nama Pegawai</th>
                <th>Produk</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Gaji Pokok</th>
                <th>Tunjangan Tetap</th>
                <th>Tunjangan Tidak Tetap</th>
                <th>BPJSTK</th>
                <th>BPJSK</th>
                <th>Jaminan</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pegawaiProyek : ${listPegawai}">
            <a th:if="${pegawaiProyek.gaji_pokok != 0 && pegawaiProyek.tunjangan_tetap != 0 && pegawaiProyek.tunjangan_tidak_tetap != 0}">
                <td th:text="${pegawaiProyek.nip}"></td>
                <td th:text="${pegawaiProyek.pelamar_id.nama_lengkap}"></td>
                <td th:text="${pegawaiProyek.produk.nama_produk}"></td>
                <td th:text="${pegawaiProyek.join_date}"></td>
                <td th:text="${pegawaiProyek.end_date}"></td>
                <td th:text="${pegawaiProyek.gaji_pokok}"></td>
                <td th:text="${pegawaiProyek.tunjangan_tetap}"></td>
                <td th:text="${pegawaiProyek.tunjangan_tidak_tetap}"></td>
                <td th:text="${pegawaiProyek.bpjstk}"></td>
                <td th:text="${pegawaiProyek.bpjsk}"></td>
                <td th:text="${pegawaiProyek.jaminan}"></td></a>
            <a th:unless="${pegawaiProyek.gaji_pokok != 0 && pegawaiProyek.tunjangan_tetap != 0 && pegawaiProyek.tunjangan_tidak_tetap != 0}">
                <td style="background-color:gray" th:text="${pegawaiProyek.nip}"></td>
                <td th:text="${pegawaiProyek.pelamar_id.nama_lengkap}"></td>
                <td th:text="${pegawaiProyek.produk.nama_produk}"></td>
                <td th:text="${pegawaiProyek.join_date}"></td>
                <td th:text="${pegawaiProyek.end_date}"></td>
                <td th:text="${pegawaiProyek.gaji_pokok}"></td>
                <td th:text="${pegawaiProyek.tunjangan_tetap}"></td>
                <td th:text="${pegawaiProyek.tunjangan_tidak_tetap}"></td>
                <td th:text="${pegawaiProyek.bpjstk}"></td>
                <td th:text="${pegawaiProyek.bpjsk}"></td>
                <td th:text="${pegawaiProyek.jaminan}"></td><a>
            </tr>
        <tfoot>
            <tr>
                <th>NIP</th>
                <th>Nama Pegawai</th>
                <th>Produk</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Gaji Pokok</th>
                <th>Tunjangan Tetap</th>
                <th>Tunjangan Tidak Tetap</th>
                <th>BPJSTK</th>
                <th>BPJSK</th>
                <th>Jaminan</th>
            </tr>
        </tfoot>
    </table>
</div>
</div>
<div class="blankspace">
    <div class="col-lg-12">
	<a class="btn btn-danger btn-large" th:href="@{'/proyek'}">Kembali</a>
	</div>
	</div>
	
	<script type="text/javascript" src="/media/js/site.js?_=994321fabf3873df746bb8bbccd1886a"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=extensions%2Fbuttons%2Fexamples%2Fstyling%2Fbootstrap.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
	<script type="text/javascript" language="javascript" src="../../../../examples/resources/demo.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" class="init"></script>
</body>

<footer>
</footer>

<script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell

  	var table = $('#example').DataTable( {
		autoWidth: false,
		"order": [ 0, "desc" ],
        columnDefs: [
        { "width": "120px", "targets": [3,4,5,6,8,9] },
        { "width": "180px", "targets": [0,1,2,7] },
        { "width": "250px", "targets": [10] },
        ],
		"scrollY" : "500px",
		"sScrollX" : "100%",
		"sScrollXInner" : "100%",
		"scrollCollapse" : true, 
		buttons : [ 'copy', 'csv', 'excel', 'pdf', 'print' ],
		exportOptions: {
	          rows: ':visible'
	        }
		} );

	table.buttons().container()
		.appendTo( '#example_wrapper .col-sm-12:eq(0)' );
	} );

    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('active');
    } );

    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" style="width:100%" placeholder="Search '+title+'" />' );
    } );
    // DataTable
    var docDefinition = {
 		 pageSize: 'A4',
 	};

 	$('#myModal').on('shown.bs.modal', function () {
	  $('#myInput').trigger('focus')
	});


function Download(){
	var x = $('example').children();
	var fullText = "";
    $.each(x, function(index, value) {
       //console.log(value);
        fullText+=$(this).context.innerText + ",";
        console.log($(this).context.innerText);
    });
    
    var docDefinition2 = {
	content: [
		fullText
	]
    };
  	// this is just a simulation of the open event, replacing it with print produces the same result
	var docDefinition = { content: [
		{text:'Liat var docDefinition sama docDefinition2 di javascript Download(), baca dokumentasi',fontSize:20},
		{text:'Dokumentasi di http://pdfmake.org',fontSize:15},
		{text:'-dimas',fontSize:15},
		] 
	};

	pdfMake.createPdf(docDefinition).download('gg.pdf');
};
   	
$(function(){
	var table2 = $('#example').DataTable();
 
    // Apply the search
    table2.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );

</script>

</html>