<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
</head>
<style>
    .boxContainer{
        background-color:#fdfdfd;
        border-radius: 10px;
        padding:20px 16px;
        margin:0px 20px;
        box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
    }
    .boxContainer2{
        background-color:#fdfdfd;
        border-radius: 10px;
        padding:20px 16px 20px 20px;
        margin:20px 20px;
    }
    .boxContainer3{
        background-color:#fefefe;
        border-radius: 10px;
        padding:20px 16px 20px 20px;
        margin:20px 20px;
    }
    .boxContainer4{
        background-color:#fcfcfc;
        padding:20px 16px;
        margin:0px 20px;
        box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
    }
    thead th{
        background-color : #6B757F;
        color:#FFFFFF;
    }
    .blankspace{
        margin-top: 20px;
    }
    table{
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed; // ***********add this
        word-wrap:break-word; // ***********and this
    }
    @media print {
      #printPageButton {
        display: none;
      }
    }
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
  <link href="css/style.css" rel="stylesheet">
</head>


<body>
<div class="col-md-12"><img src="https://i.ibb.co/bPpp1nP/cop.png" style="max-width:100%;"></div>
<!--     <div class="col-lg-12">
        <img src="/img/cop.png" style="max-width:100%;">
    </div> -->
    <div class="blankspace">
       <!--  <div class="boxContainer2" style="overflow-x:auto;"> -->
<!-- 
        <form action="#" th:action="'/proyek/'+${proyek_id}+'/kehadiran/update/submit'" method="post" th:object="${daftar_kehadiran}"> -->

                 <div class="col-lg-1"></div>
                 <div class="col-lg-10">
                    <br>
                    <table style="width:100%" id="table" class="table table-striped table-bordered dataTable">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">No.Arsip</td>
                                <td style="width:100%" th:text="${pegawai.no_arsip}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%" scope="row">NIP</td>
                                <td style="width:100%" th:text="${pegawai.nip}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <h4>Data Pribadi</h4>
                    <table class="table table-striped table-bordered">

                        <tbody>

                            <tr>
                                <td style="width:50%" scope="row">Nama Lengkap</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nama_lengkap}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Nama Panggilan</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nama_panggilan}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Jenis Kelamin</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.gender}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Tanggal Lahir</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.tanggal_lahir}"></td>
                            </tr>

                            <tr>
                                <td style="width:50%">Status Marital</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.status_marital}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">Alamat</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.alamat}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Region</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.region}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No Handphone</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nomor_handphone}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No Whatsapp</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nomor_whatsapp}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No Telepon Orang Terdekat</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.telepon_orang_terdekat}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <br>
                    <!-- <h5>No.Identitas</h5> -->
                    <h4>Nomor Identitas</h4>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">No.KTP</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.no_ktp}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%" scope="row">No.PKWT</td>
                                <td style="width:100%" th:text="${pegawai.pkwt}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.NPWP</td>
                                <td style="width:100%" th:text="${pegawai.npwp}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.BPJS Tenagakerja</td>
                                <td style="width:100%" th:text="${pegawai.bpjstk}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.BPJS Kesehatan</td>
                                <td style="width:100%" th:text="${pegawai.bpjsk}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <br>
                    <h4>Informasi Rekening</h4>
                    <!-- <h5>Informasi Rekening</h5> -->
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%">Nama Bank</td>
                                <td style="width:100%" th:text="${pegawai.nama_bank}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.Rekening</td>
                                <td style="width:100%" th:text="${pegawai.no_rekening}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <br>

                    <!-- <h5>Riwayat Pendidikan</h5> -->
                    <h4>Riwayat Pendidikan</h4>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">Pendidikan Terakhir</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.pendidikan_terakhir}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Nama Sekolah</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nama_sekolah}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Tempat Sekolah</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.tempat_sekolah}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Jurusan</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.jurusan}"></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">Tahun Lulus</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.lulusan_tahun}"></td>
                            </tr> 
                               <!-- <tr>
                                <td style="width:100%" th:text="${#dates.format(#dates.createNow(), 'yyyy MMM dd ')}"></td>
                                <td style="width:100%" th:text="${pegawai.end_date}"></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-md-12"></div>
            </div>

                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <br>
                        <h4>Informasi Proyek</h4>
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td style="width:50%" scope="row">Proyek</td>
                                    <div th:if="${pegawai.status}">
                                       <td style="width:100%" th:if="${pegawai.status}" th:text="${pegawai.proyek.nama_proyek}"></td>
                                   </div>
                               </tr>
                               <tr>
                                <td style="width:50%">Produk</td>
                                <td style="width:100%" th:if="${pegawai.status}" th:text="${pegawai.produk.nama_produk}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Jabatan</td>
                                <td style="width:100%" th:if="${pegawai.status}" th:text="${pegawai.jabatan}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%">Join Date</td>
                                <td style="width:100%"  th:if="${pegawai.status}" th:text="${pegawai.join_date}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">End Date</td>
                                <td style="width:100%; color: red; "  th:if="${pegawai.status && expiredStatus == true}" th:text="${pegawai.end_date}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <div class="col-lg-12">
                    <div class="blankspace">
                        <div class="boxContainer" style="overflow-x:auto;">
                            <h4 style="display: inline; margin-left: 10px">Riwayat Kerja</h4>
                            <hr></hr>
                            <!--dropdown filter based on product-->
                            <table id="example4"  class="table table-striped table-bordered" style="width: 100%">
                                <thead>
                                    <th>Proyek</th>
                                    <th>Produk</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </thead>
                                <tbody>
                                    <tr th:each ="listRiwayat: ${riwayatPegawai}">
                                        <td th:text="${listRiwayat.proyek}" ></td>
                                        <td th:text="${listRiwayat.produk}"></td>
                                        <td th:text="${listRiwayat.join_date}"></td>
                                        <td th:text="${listRiwayat.end_date}"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
    <div class="col-lg-12">

    <div class="data2 blankspace">
        <div class="boxContainer" style="overflow-x:auto;">
            <h4 style="display: inline; margin-left: 10px">Ulasan</h4>
            <hr></hr>
            <!--dropdown filter based on product-->
               

            <table id="example4"  class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <th>Tanggal</th>
                    <th>Feedback</th>
                </thead>
                <tbody>
                    <tr id="body-tabel-ulasan" th:each="feedback, itemStat : ${list_of_feedback}">
                        <td th:text="${feedback.tanggal_pengisian_feedback}">tanggal</td>
                        <td th:text="${feedback.feedback}">feedback</td>
                        
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
<div class="blankspace" id="tambahDIV" style="display: none">
       <!--  <div class="boxContainer2" style="overflow-x:auto;"> -->

<div class="col-sm-12"></div>

 
</div>
</div>
</div>
<div class="col-md-12">
<div class="blankspace">
    <div class="col-lg-12"><!-- 
        <a class="btn btn-danger btn-large" id="printPageButton" th:href="@{'/pegawai-detail/'+${pegawai.id}">Kembali</a> -->
        <button class="btn btn-success btn-large" id="printPageButton" onClick="window.print();">Print</button>
    </div>
    </div>
    <div class="blankspace">
    </div>        
        <script type="text/javascript" src="/media/js/site.js?_=994321fabf3873df746bb8bbccd1886a"></script>
        <script type="text/javascript" src="/media/js/dynamic.php?comments-page=extensions%2Fbuttons%2Fexamples%2Fstyling%2Fbootstrap.html" async></script>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
        <script type="text/javascript" language="javascript" src="../../../../examples/resources/demo.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
        <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
        <script type="text/javascript" class="init"></script>
    </body>
    <footer>

    </footer>
    </html>
    <script>
  </script>