<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title></title>
</head>
<style>
.boxContainer{
	background-color:#fdfdfd;
	border-radius: 10px;
	padding:20px 16px;
	margin:0px 20px;
	box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
}
.boxContainer2{
	background-color:#fdfdfd;
	border-radius: 10px;
	padding:20px 16px 20px 20px;
	margin:20px 20px;
}
thead th{
	background-color : #6B757F;
	color:#FFFFFF;
}
.blankspace{
	margin-top: 20px;
}
table{
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout: fixed; // ***********add this
	word-wrap:break-word; // ***********and this
}
</style>
       <nav th:replace="fragments/fragment :: navbar"></nav>
	<body>
	<div class="blankspace">
	<img src="/img/absence.png" style="max-width:4%;margin-top: 0px">
	<h2 style="display: inline; margin-left: 10px">Kehadiran</h2>
	<h5 class="alert alert-success" th:if="${notifikasi_sukses!=null}"
				th:text="${notifikasi_sukses}"></h5>
    <hr></hr>
       
	<div class="boxContainer" style="overflow-x:auto;">
        <div th:if="${user.role=='manager' or user.role=='hr' or user.role=='admin'}" id="kelola-akun">        
       <a class="btn btn-warning btn-large" th:href="@{'/proyek/'+${id_proyek}+'/kehadiran/tambah'}" style="float: right; margin-right: 10px;" id="tambah_absensi" >
       Tambah Kehadiran</a>
       </div> 
       <h4>Daftar Kehadiran</h4>
	<hr></hr>
        <table id="example" class="table table-striped table-bordered" style="width:100%;">
		<thead>
			<tr>
				<th>Judul Kehadiran</th>
				<th>Tindakan</th>
				<th style="display:none"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="kehadiran, itemStat : *{list_of_kehadiran}">
				<td th:text="${kehadiran}"></td>
				<td>
						<a th:href="@{'/proyek/'+${id_proyek}+'/kehadiran/'+${kehadiran}}" type="button" class="btn btn-success btn-sm">Detail</a>
						<span th:if="${user.role=='manager' or user.role=='hr' or user.role=='admin'}" id="kelola-akun">
						<a th:href="@{'/proyek/'+${id_proyek}+'/kehadiran/update/'+${kehadiran}}" type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;">Ubah</a>
						</span>
								<a th:if="${user.role=='manager' or user.role=='hr' or user.role=='admin'}" type="button" class="btn btn-danger btn-sm" style="margin-left:10px" th:href="@{'/proyek/'+${id_proyek}+'/kehadiran/hapus/'+${kehadiran}}">Hapus</a>		    	
										  
								<span th:if="${user.role=='manager' or user.role=='hr' or user.role=='admin'}" id="kelola-akun">
									<a th:if="${jenis_proyek=='umum'}" th:href="@{'/proyek/'+${id_proyek}+'/kehadiran/'+${kehadiran}+'/penggajian'}" type="button" class="btn btn-primary btn-sm" style="margin-left: 10px;">Penggajian</a>
								</span>	
				</td>
				<td style="display:none" th:value="${kehadiran}" th:text="${kehadiran}"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Judul Kehadiran</th>
				<th></th>
				<th style="display:none"></th>
			</tr>
		</tfoot>
	</table>
    </div>
</div>

<div class="blankspace">
<a class="btn btn-danger btn-large" style="margin-left: 20px" th:href="@{'/proyek-detail/'+${proyek_id}}">Kembali</a>
</div>
<div class="blankspace">
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="../../../../examples/resources/demo.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" class="init"></script>
</div>    

    </body>
    <footer>
    
    </footer>

<script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell

    var table = $('#example').DataTable( {
    	autoWidth: false,
        columnDefs: [
        { "width": "450px", "targets": [0] },
        { "width": "150px", "targets": [1] },
        { "width": "0px", "targets": [2] },
        ],
        "sScrollXInner": "100%",
        "scrollCollapse": true,
    } );

    table.buttons().container()
        .appendTo( '#example_wrapper .col-sm-12:eq(0)' );
    } );

    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('active');
    } );

    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" style="width:100%" placeholder="Search '+title+'" />' );
    } );

$(function(){
	var table2 = $('#example').DataTable();
 
	// Apply the search
	table2.columns().every( function () {
		var that = this;
 
		$( 'input', this.footer() ).on( 'keyup change', function () {
			if ( that.search() !== this.value ) {
				that
					.search( this.value )
					.draw();
			}
		} );
	} );
} );
</script>


</html>
