<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- <object th:include="fragments/fragment :: css" th:remove="tag"></object> -->
<!-- <object th:include="fragments/fragment :: js" th:remove="tag"></object> -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

</head>
<style>
.requiredField {
	color: red;
}

.titleHelp {
	font-size: 13px;
}

.modal-title {
	margin-left: 25%;
}

.modal-body {
	margin: 0 auto;
}

.modal-footer {
	margin: 0 auto;
}

.hrCustom {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: black;
	border-width: 0, 1.5px;
	margin-top: 5px;
}

.hrCustom2 {
	display: block;
	margin-before: 0.5em;
	margin-after: 0.5em;
	margin-start: auto;
	margin-end: auto;
	overflow: hidden;
	background-color: lightgray;
	border-width: 0, 75px;
	margin-top: 1rem;
	margin-bottom: 0.75rem;
	margin-after: 0.5em;
	margin-before: 0.5em;
}

.card-title {
	margin-bottom: 1.5rem
}

.card {
	margin-top: 1rem;
}

.card-header {
	text-align: center;
}

.table {
	text-align: center;
	vertical-align: middle !important;
}
</style>

<body>
<div class="col-md-12"><img src="https://i.ibb.co/bPpp1nP/cop.png" style="max-width:86%;"></div>
	
	<div class="container-fluid"
		style="margin-left: 1rem; margin-top: 1rem">
		<h5 class="alert alert-danger" th:if="${daftarError_msg!=null}"
			th:text="${daftarError_msg}"></h5>
		<div class="row">
			<div class="col-xs-auto col-xl-10">
				<h2 style="margin-top: 1rem">
					Form Pendaftaran <small class="titleHelp">( Tanda <span
						class="requiredField"> *</span> Berarti Wajib Diisi )
					</small>
				</h2>
				<hr class="hrCustom">
				<form th:action="@{'/pelamar/daftar/'}" th:object="${pelamar}"
					method="POST">
					<div class="card">
						<div class="card-body">
							<div class="form-group row">
								<label for="tanggal_daftar"
									class="col-sm-4 col-md-2 col-form-label">Tanggal
									Pendaftaran<span class="requiredField">*</span>
								</label>
								<div class="col-sm-auto">
									<input class="form-control" required="required"
										th:field="*{apply_date}" id="datepicker1"
										readonly/>
								</div>
							</div>
							<fieldset class="form-group">
								<div class="row">
									<legend class="col-form-label col-sm-4 col-md-3 col-lg-2 pt-0">
										Posisi yang diinginkan<span class="requiredField">*</span>
									</legend>
									<div class="col-xs-12">
										<ul class="form-check">
											<li th:each="checkboxValue: ${checkbox_produk}"
												class="form-check form-check-inline"><input
												class="form-check-input" name="produk" type="checkbox"
												th:field="${command.selectedCheckboxProduk}"
												th:value="${checkboxValue}" /> <label
												th:for="${#ids.prev('selectedCheckboxProduk')}"
												th:text="${checkboxValue}"></label></li>
										</ul>
									</div>
								</div>
							</fieldset>
							<hr class="hrCustom2">
							<h5 class="card-title">Data Pribadi</h5>
							<div class="form-group row">
								<label for="nama_lengkap"
									class="col-form-label col-sm-4 col-md-2">Nama Lengkap<span
									class="requiredField">*</span></label>
								<div class="col-sm-auto">
									<input type="text" class="form-control" id="nama_lengkap"
										placeholder="Nama Lengkap" th:field="*{nama_lengkap}"
										required="required" aria-describedby="namaLengkapHelpBlock"
										maxlength="100"> <small id="namaLengkapHelpBlock"
										class="form-text text-muted">cth: Budi Budiman</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="nama_panggilan"
									class="col-form-label col-sm-4 col-md-2">Nama Panggilan</label>
								<div class="col-sm-auto">
									<input type="text" class="form-control" id="nama_panggilan"
										placeholder="Nama Panggilan" th:field="*{nama_panggilan}"
										aria-describedby="namaPanggilanHelpBlock" maxlength="50">
									<small id="namaPanggilanHelpBlock" class="form-text text-muted">cth:
										Budi</small>
								</div>
							</div>
							<fieldset class="form-group">
								<div class="row">
									<legend class="col-form-label col-sm-4 col-md-2 pt-0">
										Jenis Kelamin<span class="requiredField">*</span>
									</legend>
									<div class="col-sm-auto">
										<ul class="form-check-inline">
											<li th:each="radioValue: ${radio_gender}"
												class="form-check-inline"><input
												class="form-check-input" type="radio"
												th:field="${command.selectedRadioGender}"
												th:value="${radioValue}" /> <label
												th:for="${#ids.prev('selectedRadioGender')}"
												th:text="${radioValue}"></label></li>
										</ul>
									</div>
								</div>
							</fieldset>
							<div class="form-group row">
								<label for="tanggal_lahir"
									class=" col-sm-4 col-md-2 col-form-label">Tanggal Lahir<span
									class="requiredField">*</span></label>
								<div class="col-sm-auto">
									<input class="form-control" required="required"
										th:field="*{tanggal_lahir}" id="datepicker2" readonly/>
								</div>
							</div>
							<div class="form-group row">
								<label for="agama" class=" col-sm-4 col-md-2 col-form-label">Agama</label>
								<div class="col-sm-auto">
									<select class="form-control" id="agama" th:field="*{agama}">
										<option selected value="" hidden="hidden">-Pilih
											Agama-</option>
										<option value="Islam">Islam</option>
										<option value="Kristen">Kristen</option>
										<option value="Katolik">Katolik</option>
										<option value="Buddha">Buddha</option>
										<option value="Hindu">Hindu</option>
										<option value="Konghucu">Konghucu</option>
										<option value="Kepercayaan">Kepercayaan</option>
									</select>
								</div>
							</div>
							<fieldset class="form-group">
								<div class="row">
									<legend class="col-form-label col-sm-4 col-md-2 pt-0">
										Status Pernikahan<span class="requiredField">*</span>
									</legend>
									<div class="col-sm-auto">
										<ul class="form-check-inline">
											<li th:each="radioValue: ${radio_statusNikah}"
												class="form-check-inline"><input
												class="form-check-input" type="radio"
												th:field="${command.selectedRadioMarital}"
												th:value="${radioValue}" /> <label
												th:for="${#ids.prev('selectedRadioMarital')}"
												th:text="${radioValue}"></label></li>
										</ul>
									</div>
								</div>
							</fieldset>
							<div class="form-group row">
								<label for="alamat" class="col-sm-4 col-md-2 col-form-label">Alamat<span
									class="requiredField">*</span></label>
								<div class="col-sm-4">
									<textarea class="form-control" id="alamat" required="required"
										rows="5" th:field="*{alamat}"
										placeholder="Tuliskan alamat lengkap (jalan, kelurahan, kecamatan, kota/kabupaten, provinsi, dan kode pos)!"
										maxlength="255" aria-describedby="count_message"></textarea>
									<small class="form-text text-muted float-right"
										id="count_message"></small>
								</div>
							</div>
							<div class="form-group row">
								<label for="region" class="col-sm-4 col-md-2 col-form-label">Region<span
									class="requiredField">*</span></label>
								<div class="col-sm-auto">
									<input type="search" class="form-control tags"
										th:field="*{region}" required="required"
										placeholder="Cari Region" aria-describedby="regionHelpBlock">
									<small id="regionHelpBlock" class="form-text text-muted">Cari
										sesuai Kota/Kabupaten</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="email" class="col-form-label col-sm-4 col-md-2">E-mail</label>
								<div class="col-sm-auto">
									<input type="email" class="form-control" id="email"
										placeholder="Alamat e-mail" th:field="*{email}"
										aria-describedby="emailHelpBlock"> <small
										id="emailHelpBlock" class="form-text text-muted"> cth
										: budi.budiman@yahoo.com</small>
								</div>
							</div>
							<div class="form-grup row">
								<label for="no_handphone"
									class="col-form-label col-sm-4 col-md-2">No. Handphone<span
									class="requiredField">*</span>
								</label>
								<div class="col-sm-auto">
									<input type="text" class="form-control" id="nomor_handphone"
										placeholder="Nomor Handphone" th:field="*{nomor_handphone}"
										required="required" aria-describedby="hpHelpBlock"
										minlength="11"> <small id="hpHelpBlock"
										class="form-text text-muted"> cth : 0812xxxxxxxx</small>
								</div>
							</div>
							<div class="form-grup row">
								<label for="nama_lengkap"
									class="col-form-label col-sm-4 col-md-2">Telp. Rumah</label>
								<div class="col-sm-auto">
									<input type="text" class="form-control" id="telp_rumah"
										placeholder="Nomor Telepon Rumah" th:field="*{telepon_rumah}"
										aria-describedby="telpRumahHelpBlock" minlength="10">
									<small id="telpRumahHelpBlock" class="form-text text-muted">
										cth : 02158xxxxxx</small>
								</div>
							</div>

							<div class="form-group row">
								<label for="telp_orang_terdekat"
									class="col-form-label col-sm-4 col-md-2">No. Telp.
									Orang Terdekat<span class="requiredField">*</span>
								</label>
								<div class="col-sm-auto">
									<input type="text" class="form-control"
										id="telp_orang_terdekat"
										placeholder="Nomor Telp. Orang Terdekat"
										th:field="*{telepon_orang_terdekat}" required="required"
										aria-describedby="telpOrangTerdekatHelpBlock" minlength="10">
									<small id="telpOrangTerdekatHelpBlock"
										class="form-text text-muted"> cth : 0812xxxxxxxx,
										02158xxxxxx</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="nomor_whatsapp"
									class="col-form-label col-sm-4 col-md-2">No. WhatsApp </label>
								<div class="col-sm-auto">
									<input
										class="form-control" id="nomor_whatsapp"
										placeholder="Nomor WhatsApp" th:field="*{nomor_whatsapp}"
										aria-describedby="nomorWAHelpBlock" minlength="11"><small
										id="nomorWAHelpBlock" class="form-text text-muted">
										cth : 0812xxxxxxxx</small>
								</div>
							</div>
							<hr class="hrCustom2">
							<h5 class="card-title">Nomor Identitas</h5>
							<div class="form-group row">
								<label for="no_ktp" class="col-form-label col-sm-4 col-md-2">No.
									KTP<span class="requiredField">*</span>
								</label>
								<div class="col-sm-auto">
									<input type="text" class="form-control" id="no_ktp"
										placeholder="Nomor KTP" th:field="*{no_ktp}"
										required="required" aria-describedby="ktpHelpBlock"
										minlength="13"> <small id="ktpHelpBlock"
										class="form-text text-muted"> cth : 3017xxxxxxxxxxxx</small>
								</div>
							</div>
							<hr class="hrCustom2">
							<h5 class="card-title">Riwayat Pendidikan</h5>
							<div class="form-group row">
								<label for="pendidikan_terakhir"
									class="col-sm-4 col-md-2 col-form-label">Pendidikan
									Terakhir<span class="requiredField">*</span>
								</label>
								<div class="col-sm-auto">
									<select class="form-control" id="pendidikan_terakhir"
										th:field="*{pendidikan_terakhir}" required="required">
										<option selected value="" hidden="hidden">-Pilih
											Jenjang-</option>
										<option value="Pendidikan Informal">Pendidikan
											Informal</option>
										<option value="SD">SD</option>
										<option value="SMP">SMP</option>
										<option value="SMA/SMK">SMA/SMK</option>
										<option value="Diploma">Diploma</option>
										<option value="Sarjana">Sarjana</option>
										<option value="Magister">Magister</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="nama_sekolah"
									class="col-form-label col-sm-4 col-md-2">Nama Sekolah<span
									class="requiredField">*</span>
								</label>
								<div class="col-sm-auto">
									<input type="text" class="form-control"
										placeholder="Nama Sekolah" th:field="*{nama_sekolah}"
										required="required" maxlength="50"
										aria-describedby="namaSekolahHelpBlock"><small
										id="namaSekolahHelpBlock" class="form-text text-muted">
										cth : SMAN 68, Universitas Indonesia</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="tempat_sekolah"
									class="col-form-label col-sm-4 col-md-2">Lokasi Sekolah<span
									class="requiredField">*</span>
								</label>
								<div class="col-sm-auto">
									<input type="search" class="form-control tags"
										placeholder="Cari Lokasi Sekolah" th:field="*{tempat_sekolah}"
										required="required" maxlength="50"
										aria-describedby="tempatSekolahHelpBlock"><small
										id="tempatSekolahHelpBlock" class="form-text text-muted">
										Cari sesuai Kabupaten/Kota</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="jurusan" class="col-form-label col-sm-4 col-md-2">Jurusan
								</label>
								<div class="col-sm-auto">
									<input type="text" class="form-control" id="jurusan"
										placeholder="Jurusan yang Diambil" th:field="*{jurusan}"
										maxlength="50" aria-describedby="jurusanHelpBlock"><small
										id="jurusanHelpBlock" class="form-text text-muted">
										cth : IPA, Akuntansi, dll</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="lulusan_tahun"
									class="col-sm-4 col-md-2 col-form-label">Lulus Tahun<span
									class="requiredField">*</span></label>
								<div class="col-sm-auto">
									<select class="form-control" id="lulusan_tahun"
										th:field="*{lulusan_tahun}" required="required">
										<option selected value="" hidden="hidden">-Pilih
											Tahun-</option>
										<option th:each="val : ${list_tahun}" th:value="${val}"
											th:text="${val}"></option>
									</select>
								</div>
							</div>
							<hr class="hrCustom2">
							<h5 class="card-title">Riwayat Pekerjaan</h5>
							<h6>
								Tuliskan <b>3</b> riwayat pekerjaan Anda yang paling terakhir.
							</h6>
							<p style="color:red;">* Jika tidak ada, isilah kolom <em>Nama Perusahaan</em> dan <em>Alasan
									Berhenti</em> dengan menuliskan <b>"Tidak Ada"</b>.</p>
							<p>
								Gunakan tombol <b>Tambah Riwayat</b> untuk menambah kolom
								riwayat dan <b>Hapus Riwayat</b> untuk menghapus riwayat.</p>
							<h5 class="alert alert-danger" th:if="${deleteLimit_msg!=null}"
								th:text="${deleteLimit_msg}"></h5>
							<h5 class="alert alert-danger" th:if="${limit_msg!=null}"
								th:text="${limit_msg}"></h5>
							<div class="col-lg-10">
								<div class="card"
									th:each="np, iterationStatus : ${command.pengalamanList}">
									<div class="card-header">
										<h6
											th:text="'Riwayat Pekerjaan '+ ${iterationStatus.index + 1}"></h6>
									</div>
									<div class="card-body">
										<div class="form-group row">
											<label for="nama_perusahaan"
												class="col-sm-4 col-xl-3 col-form-label">Nama
												Perusahaan<span class="requiredField">*</span>
											</label>
											<div class="col-sm-auto">
												<input class="form-control" type="text" required="required"
													id="nama_perusahaan"
													th:field="${command.pengalamanList[__${iterationStatus.index}__].nama_perusahaan}"
													maxlength="100" placeholder="Nama Perusahaan"
													aria-describedby="namaPerusahaanHelpBlock"><small
													id="namaPerusahaanHelpBlock" class="form-text text-muted">
													cth : PT. Maju Mundur</small>
											</div>
										</div>
										<div class="form-group row">
											<label for="tahun_terakhir"
												class="col-sm-4 col-xl-3 col-form-label">Tahun
												Terakhir </label>
											<div class="col-sm-auto">
												<select class="form-control" id="tahun_terakhir"
													th:field="${command.pengalamanList[__${iterationStatus.index}__].tahun_terakhir}">
													<option selected value="" hidden="hidden">-Pilih
														Tahun-</option>
													<option th:each="val : ${list_tahun}" th:value="${val}"
														th:text="${val}"></option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label for="tahun_bekerja"
												class="col-sm-4 col-xl-3 col-form-label">Lama
												Bekerja (Tahun) </label>
											<div class="col-sm-auto">
												<input type="number" max="100" min="0" value="0" placeholder="0"
													th:field="${command.pengalamanList[__${iterationStatus.index}__].lamaTahun_bekerja}" />
											</div>
										</div>
										<div class="form-group row">
											<label for="bulan_bekerja"
												class="col-sm-4 col-xl-3 col-form-label">Lama
												Bekerja (Bulan) </label>
											<div class="col-sm-auto">
												<input type="number" max="12" min="0" value="0" placeholder="0"
													th:field="${command.pengalamanList[__${iterationStatus.index}__].lamaTahun_bekerja}" />
											</div>
										</div>
										<div class="form-group row">
											<label for="jabatan" class="col-sm-4 col-xl-3 col-form-label">Jabatan
											</label>
											<div class="col-sm-auto">
												<input class="form-control" type="text" id="jabatan"
													th:field="${command.pengalamanList[__${iterationStatus.index}__].jabatan}"
													maxlength="50" placeholder="Jabatan"
													aria-describedby="jabatanHelpBlock"><small
													id="jabatanBlock" class="form-text text-muted"> cth
													: Admin, Ketua Regu</small>
											</div>
										</div>
										<div class="form-group row">
											<label for="alasan_berhenti"
												class="col-sm-4 col-xl-3 col-form-label">Alasan
												Berhenti<span class="requiredField">*</span>
											</label>
											<div class="col-sm-4">
												<textarea class="form-control alasan_berhenti"
													required="required" id="alasan_berhenti" rows="4"
													th:field="${command.pengalamanList[__${iterationStatus.index}__].alasan_berhenti}"
													maxlength="255"
													placeholder="Tuliskan alasan berhenti dari pekerjaan!"></textarea>
											</div>
										</div>
										<button type="submit" class="btn btn-warning"
											name="deleteEntry" th:value="${iterationStatus.index}">Hapus
											Riwayat</button>
									</div>
								</div>
								<div style="text-align: center; margin-top: 1rem">
									<button type="submit" class="btn btn-secondary" name="addEntry"
										th:value="${command}+${pelamar}">Tambah Riwayat</button>
								</div>
							</div>
							<hr class="hrCustom2">
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#myModal">Simpan</button>
							<!-- The Modal -->
							<div class="modal fade" id="myModal">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title">Pendaftaran Pelamar</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<!-- Modal body -->
										<div class="modal-body">Apakah Anda yakin untuk
											menyimpan?</div>
										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="submit" class="btn btn-danger"
												name="submitPelamar">Ya</button>
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Tidak</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
<script>

	$(document).ready(function() {
		$('#nomor_handphone').mask('0000-0000-0000');
		$('#telp_rumah').mask('000-0000-0000');
		$('#telp_orang_terdekat').mask('0000-0000-0000');
		$('#nomor_whatsapp').mask('0000-0000-0000');
		$('#no_ktp').mask('0000000000000000');
	});

	var text_max = 255;
	$('#count_message').html(text_max + '/255 Karakter');

	$('#alamat').keyup(function() {
		var text_length = $('#alamat').val().length;
		var text_remaining = text_max - text_length;
		$('#count_message').html(text_remaining + '/255 Karakter');
	});
	
	var today = new Date(new Date().getFullYear(), new Date().getMonth(),
			new Date().getDate());
	var todayFormatted = today.getFullYear() + "-" + (today.getMonth()+1) + "-" + today.getDate();
	var yester = new Date();
	var yesterFormatted = (yester.getFullYear() - 20) + "-" + yester.getMonth() + "-" + yester.getDate()

	$('#datepicker1').datepicker({
		uiLibrary : 'bootstrap4',
		format : 'yyyy-mm-dd',
		minDate : today,
		value : todayFormatted,
	});

	$('#datepicker2').datepicker({
		uiLibrary : 'bootstrap4',
		format : 'yyyy-mm-dd',
		maxDate : today,
		value : yesterFormatted,
	});
	$(function() {
		var availableTags = [ "SIMEULUE", "ACEH SINGKIL", "ACEH SELATAN",
				"ACEH TENGGARA", "ACEH TIMUR", "ACEH TENGAH", "ACEH BARAT",
				"ACEH BESAR", "PIDIE", "BIREUEN", "ACEH UTARA",
				"ACEH BARAT DAYA", "GAYO LUES", "ACEH TAMIANG", "NAGAN RAYA",
				"ACEH JAYA", "BENER MERIAH", "PIDIE JAYA", "BANDA ACEH",
				"SABANG", "LANGSA", "LHOKSEUMAWE", "SUBULUSSALAM", "NIAS",
				"MANDAILING NATAL", "TAPANULI SELATAN", "TAPANULI TENGAH",
				"TAPANULI UTARA", "TOBA SAMOSIR", "LABUHAN BATU", "ASAHAN",
				"SIMALUNGUN", "DAIRI", "KARO", "DELI SERDANG", "LANGKAT",
				"NIAS SELATAN", "HUMBANG HASUNDUTAN", "PAKPAK BHARAT",
				"SAMOSIR", "SERDANG BEDAGAI", "BATU BARA",
				"PADANG LAWAS UTARA", "PADANG LAWAS", "LABUHAN BATU SELATAN",
				"LABUHAN BATU UTARA", "NIAS UTARA", "NIAS BARAT", "SIBOLGA",
				"TANJUNG BALAI", "PEMATANG SIANTAR", "TEBING TINGGI", "MEDAN",
				"BINJAI", "PADANGSIDIMPUAN", "GUNUNGSITOLI",
				"KEPULAUAN MENTAWAI", "PESISIR SELATAN", "SOLOK", "SIJUNJUNG",
				"TANAH DATAR", "PADANG PARIAMAN", "AGAM", "LIMA PULUH PASAMAN",
				"SOLOK SELATAN", "DHARMASRAYA", "PASAMAN BARAT", "PADANG",
				"SOLOK", "SAWAH LUNTO", "PADANG PANJANG", "BUKITTINGGI",
				"PAYAKUMBUH", "PARIAMAN", "KUANTAN SINGINGI", "INDRAGIRI HULU",
				"INDRAGIRI HILIR", "PELALAWAN", "SIAK", "KAMPAR", "ROKAN HULU",
				"BENGKALIS", "ROKAN HILIR", "KEPULAUAN MERANTI", "PEKANBARU",
				"DUMAI", "KERINCI", "MERANGIN", "SAROLANGUN", "BATANG HARI",
				"MUARO JAMBI", "TANJUNG JABUNG TIMUR", "TANJUNG JABUNG BARAT",
				"TEBO", "BUNGO", "JAMBI", "SUNGAI PENUH", "OGAN KOMERING ULU",
				"OGAN KOMERING ILIR", "MUARA ENIM", "LAHAT", "MUSI RAWAS",
				"MUSI BANYUASIN", "BANYU ASIN", "OGAN KOMERING ULU SELATAN",
				"OGAN KOMERING ULU TIMUR", "OGAN ILIR", "EMPAT LAWANG",
				"PENUKAL ABAB LEMATANG ILIR", "MUSI RAWAS UTARA", "PALEMBANG",
				"PRABUMULIH", "PAGAR ALAM", "LUBUKLINGGAU", "BENGKULU SELATAN",
				"REJANG LEBONG", "BENGKULU UTARA", "KAUR", "SELUMA",
				"MUKOMUKO", "LEBONG", "KEPAHIANG", "BENGKULU TENGAH",
				"BENGKULU", "LAMPUNG BARAT", "TANGGAMUS", "LAMPUNG SELATAN",
				"LAMPUNG TIMUR", "LAMPUNG TENGAH", "LAMPUNG UTARA",
				"WAY KANAN", "TULANGBAWANG", "PESAWARAN", "PRINGSEWU",
				"MESUJI", "TULANG BAWANG BARAT", "PESISIR BARAT",
				"BANDAR LAMPUNG", "METRO", "BANGKA", "BELITUNG",
				"BANGKA BARAT", "BANGKA TENGAH", "BANGKA SELATAN",
				"BELITUNG TIMUR", "PANGKAL PINANG", "KARIMUN", "BINTAN",
				"NATUNA", "LINGGA", "KEPULAUAN ANAMBAS", "BATAM",
				"TANJUNG PINANG", "KEPULAUAN SERIBU", "JAKARTA SELATAN",
				"JAKARTA TIMUR", "JAKARTA PUSAT", "JAKARTA BARAT",
				"JAKARTA UTARA", "BOGOR", "SUKABUMI", "CIANJUR", "GARUT",
				"TASIKMALAYA", "CIAMIS", "KUNINGAN", "CIREBON", "MAJALENGKA",
				"SUMEDANG", "INDRAMAYU", "SUBANG", "PURWAKARTA", "KARAWANG",
				"BEKASI", "BANDUNG BARAT", "PANGANDARAN", "BOGOR", "SUKABUMI",
				"BANDUNG", "CIREBON", "BEKASI", "DEPOK", "CIMAHI",
				"TASIKMALAYA", "BANJAR", "CILACAP", "BANYUMAS", "PURBALINGGA",
				"BANJARNEGARA", "KEBUMEN", "PURWOREJO", "WONOSOBO", "MAGELANG",
				"BOYOLALI", "KLATEN", "SUKOHARJO", "WONOGIRI", "KARANGANYAR",
				"SRAGEN", "GROBOGAN", "BLORA", "REMBANG", "PATI", "KUDUS",
				"JEPARA", "DEMAK", "SEMARANG", "TEMANGGUNG", "KENDAL",
				"BATANG", "PEKALONGAN", "PEMALANG", "TEGAL", "BREBES",
				"MAGELANG", "SURAKARTA", "SALATIGA", "SEMARANG", "PEKALONGAN",
				"TEGAL", "KULON PROGO", "BANTUL", "GUNUNG KIDUL", "SLEMAN",
				"YOGYAKARTA", "PACITAN", "PONOROGO", "TRENGGALEK",
				"TULUNGAGUNG", "BLITAR", "KEDIRI", "MALANG", "LUMAJANG",
				"JEMBER", "BANYUWANGI", "BONDOWOSO", "SITUBONDO",
				"PROBOLINGGO", "PASURUAN", "SIDOARJO", "MOJOKERTO", "JOMBANG",
				"NGANJUK", "MADIUN", "MAGETAN", "NGAWI", "BOJONEGORO", "TUBAN",
				"LAMONGAN", "GRESIK", "BANGKALAN", "SAMPANG", "PAMEKASAN",
				"SUMENEP", "KEDIRI", "BLITAR", "MALANG", "PROBOLINGGO",
				"PASURUAN", "MOJOKERTO", "MADIUN", "SURABAYA", "BATU",
				"PANDEGLANG", "LEBAK", "SERANG", "TANGERANG", "CILEGON",
				"SERANG", "TANGERANG SELATAN", "JEMBRANA", "TABANAN", "BADUNG",
				"GIANYAR", "KLUNGKUNG", "BANGLI", "KARANG ASEM", "BULELENG",
				"DENPASAR", "LOMBOK BARAT", "LOMBOK TENGAH", "LOMBOK TIMUR",
				"SUMBAWA", "DOMPU", "BIMA", "SUMBAWA BARAT", "LOMBOK UTARA",
				"MATARAM", "BIMA", "SUMBA BARAT", "SUMBA TIMUR", "KUPANG",
				"TIMOR TENGAH SELATAN", "TIMOR TENGAH UTARA", "BELU", "ALOR",
				"LEMBATA", "FLORES TIMUR", "SIKKA", "ENDE", "NGADA",
				"MANGGARAI", "ROTE NDAO", "MANGGARAI BARAT", "SUMBA TENGAH",
				"SUMBA BARAT DAYA", "NAGEKEO", "MANGGARAI TIMUR",
				"SABU RAIJUA", "MALAKA", "KUPANG", "SAMBAS", "BENGKAYANG",
				"LANDAK", "MEMPAWAH", "SANGGAU", "KETAPANG", "SINTANG",
				"KAPUAS HULU", "SEKADAU", "MELAWI", "KAYONG UTARA",
				"KUBU RAYA", "PONTIANAK", "SINGKAWANG", "ARINGIN BARAT",
				"ARINGIN TIMUR", "KAPUAS", "BARITO SELATAN", "BARITO UTARA",
				"SUKAMARA", "LAMANDAU", "SERUYAN", "KATINGAN", "PULANG PISAU",
				"GUNUNG MAS", "BARITO TIMUR", "MURUNG RAYA", "PALANGKA RAYA",
				"TANAH LAUT", "BARU", "BANJAR", "BARITO KUALA", "TAPIN",
				"HULU SUNGAI SELATAN", "HULU SUNGAI TENGAH",
				"HULU SUNGAI UTARA", "TABALONG", "TANAH BUMBU", "BALANGAN",
				"BANJARMASIN", "BANJAR BARU", "PASER", "KUTAI BARAT",
				"KUTAI KARTANEGARA", "KUTAI TIMUR", "BERAU",
				"PENAJAM PASER UTARA", "MAHAKAM HULU", "BALIKPAPAN",
				"SAMARINDA", "BONTANG", "MALINAU", "BULUNGAN", "TANA TIDUNG",
				"NUNUKAN", "TARAKAN", "BOLAANG MONGONDOW", "MINAHASA",
				"KEPULAUAN SANGIHE", "KEPULAUAN TALAUD", "MINAHASA SELATAN",
				"MINAHASA UTARA", "BOLAANG MONGONDOW UTARA",
				"SIAU TAGULANDANG BIARO", "MINAHASA TENGGARA",
				"BOLAANG MONGONDOW SELATAN", "BOLAANG MONGONDOW TIMUR",
				"MANADO", "BITUNG", "TOMOHON", "OBAGU", "BANGGAI KEPULAUAN",
				"BANGGAI", "MOROWALI", "POSO", "DONGGALA", "TOLI-TOLI", "BUOL",
				"PARIGI MOUTONG", "TOJO UNA-UNA", "SIGI", "BANGGAI LAUT",
				"MOROWALI UTARA", "PALU", "KEPULAUAN SELAYAR", "BULUKUMBA",
				"BANTAENG", "JENEPONTO", "TAKALAR", "GOWA", "SINJAI", "MAROS",
				"PANGKAJENE DAN KEPULAUAN", "BARRU", "BONE", "SOPPENG", "WAJO",
				"SIDENRENG RAPPANG", "PINRANG", "ENREKANG", "LUWU",
				"TANA TORAJA", "LUWU UTARA", "LUWU TIMUR", "TORAJA UTARA",
				"MAKASSAR", "PAREPARE", "PALOPO", "BUTON", "MUNA", "KONAWE",
				"KOLAKA", "KONAWE SELATAN", "BOMBANA", "WAKATOBI",
				"KOLAKA UTARA", "BUTON UTARA", "KONAWE UTARA", "KOLAKA TIMUR",
				"KONAWE KEPULAUAN", "MUNA BARAT", "BUTON TENGAH",
				"BUTON SELATAN", "KENDARI", "BAUBAU", "BOALEMO", "GORONTALO",
				"POHUWATO", "BONE BOLANGO", "GORONTALO UTARA", "GORONTALO",
				"MAJENE", "POLEWALI MANDAR", "MAMASA", "MAMUJU",
				"MAMUJU UTARA", "MAMUJU TENGAH", "MALUKU TENGGARA BARAT",
				"MALUKU TENGGARA", "MALUKU TENGAH", "BURU", "KEPULAUAN ARU",
				"SERAM BAGIAN BARAT", "SERAM BAGIAN TIMUR",
				"MALUKU BARAT DAYA", "BURU SELATAN", "AMBON", "TUAL",
				"HALMAHERA BARAT", "HALMAHERA TENGAH", "KEPULAUAN SULA",
				"HALMAHERA SELATAN", "HALMAHERA UTARA", "HALMAHERA TIMUR",
				"PULAU MOROTAI", "PULAU TALIABU", "TERNATE",
				"TIDORE KEPULAUAN", "FAKFAK", "KAIMANA", "TELUK WONDAMA",
				"TELUK BINTUNI", "MANOKWARI", "SORONG SELATAN", "SORONG",
				"RAJA AMPAT", "TAMBRAUW", "MAYBRAT", "MANOKWARI SELATAN",
				"PEGUNUNGAN ARFAK", "SORONG", "MERAUKE", "JAYAWIJAYA",
				"JAYAPURA", "NABIRE", "KEPULAUAN YAPEN", "BIAK NUMFOR",
				"PANIAI", "PUNCAK JAYA", "MIMIKA", "BOVEN DIGOEL", "MAPPI",
				"ASMAT", "YAHUKIMO", "PEGUNUNGAN BINTANG", "TOLIKARA", "SARMI",
				"KEEROM", "WAROPEN", "SUPIORI", "MAMBERAMO RAYA", "NDUGA",
				"LANNY JAYA", "MAMBERAMO TENGAH", "YALIMO", "PUNCAK",
				"DOGIYAI", "INTAN JAYA", "DEIYAI", "JAYAPURA" ];
		$(".tags").autocomplete({
			source : availableTags
		});
	});
</script>
</html>
