<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){

    $.ajax({
    	type : 'GET',
	    async: false,
    	success: function(result){
    		var div1 = document.getElementById("div1");
    		console.log(JSON.stringify(div1));
	      	console.log(JSON.stringify({ x: 5, y: 6 }));
	    }});
  	});
});
</script>
</head>
<body>

<div id="div1" value="ss"><h2>Let jQuery AJAX Change This Text</h2></div>
<div id="div1"><h2>Let jQuery AJAX Change</h2></div>

<button>Get External Content</button>

</body>
</html>
